{
  "channel": "(Channel to Send to)",
  "server": "https://example.com:6969",
  "world": "world",
  "allylist": [
    "Ally1",
    "Ally2"
  ],
  "regions": {
    "Area1": {
      "a": [
        6709,
        -456
      ],
      "b": [
        7033,
        -389
      ]
    },
  }
}
